<div class="container">
  <div  *ngIf="person" class="row">
    <div class="col-md-12">
      <h2>{{person.name}}</h2>
      <p><span>Gender: </span> {{person.gender}}</p>
      <p><span>Birth year: </span> {{person.birth_year}}</p>
      <p><span>Height: </span> {{person.height}} cm</p>
      <p><span>Mass: </span> {{person.mass}} kg</p>
      <p><span>Hair color: </span> {{person.hair_color}}</p>
      <p><span>Eye Color: </span> {{person.eye_color}}</p>
      <p><span>Skin color: </span> {{person.skin_color}}</p>
    </div>
    <div class="col-12">
        <app-films-list [links]="person.films" ></app-films-list>
        <app-species-list [links]="person.species" ></app-species-list>
        <app-planets-list title="Homeworld" [links]="person.homeworld" ></app-planets-list>
        <app-vehicles-list [links]="person.vehicles" ></app-vehicles-list>
        <app-starships-list [links]="person.starships" ></app-starships-list>
        <button (click)="backToResources()" class="btn btn-primary">Back to resources</button>
    </div>
  </div>
</div>
