.headerList{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .display{
        position: flex;
        right: 0;
        .fa{
            vertical-align: middle;
            font-size: 24px;
        }
    }
}

.btn{
    background-color: transparent;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.active{
    color: #0062cc;
}