nav{
    position: fixed;
    margin-bottom: 30px;
    width: 100%;
    z-index: 1000;
    span{
        cursor: pointer;
        i{
            font-size: 20px;
        }
    }
}

.nav-correction{
    width: 100%;
    height: 56px;
    margin-bottom: 30px;
}
