<app-header-list [title]="title" (displayChanged)="display = $event"></app-header-list>

<ng-container *ngIf="isLoading; else dataLoaded">
  <loader></loader>
</ng-container>

<ng-template #dataLoaded>
  <ng-container *ngIf="display == 'card'; else displayCard">
    <app-species-cards (navigateTo)="navigateToDetails($event)" [species]="list"></app-species-cards>
  </ng-container>
  <ng-template #displayCard>
    <app-species-table (navigateTo)="navigateToDetails($event)" [species]="list"></app-species-table>
  </ng-template>
</ng-template>

<app-pagination-bar [size]="nbPages" (changed)="loadSpecies($event)"></app-pagination-bar>