<div *ngIf="isLoading || list.length > 0">
  <app-header-list [title]="title" (displayChanged)="display = $event"></app-header-list>

  <ng-container *ngIf="isLoading; else dataLoaded">
    <loader></loader>
  </ng-container>

  <ng-template #dataLoaded>
    <ng-container *ngIf="display == 'card'; else displayCard">
      <app-vehicles-cards (navigateTo)="navigateToDetails($event)" [vehicles]="list"></app-vehicles-cards>
    </ng-container>
    <ng-template #displayCard>
      <app-vehicles-table (navigateTo)="navigateToDetails($event)" [vehicles]="list"></app-vehicles-table>
    </ng-template>
  </ng-template>

  <app-pagination-bar [size]="nbPages" (changed)="loadVehicules($event)"></app-pagination-bar>
</div>