<app-header-list [title]="title" (displayChanged)="display = $event"></app-header-list>

<ng-container *ngIf="isLoading; else dataLoaded">
  <loader></loader>
</ng-container>

<ng-template #dataLoaded>
  <ng-container *ngIf="display == 'card'; else displayCard">
    <app-card-view (navigateTo)="navigateToDetails($event)" [list]="list"></app-card-view>
  </ng-container>
  <ng-template #displayCard>
    <app-starships-table (navigateTo)="navigateToDetails($event)" [starships]="list"></app-starships-table>
  </ng-template>

</ng-template>

<app-pagination-bar [size]="nbPages" (changed)="loadVehicules($event)"></app-pagination-bar>