<app-header-list [title]="title" (displayChanged)="display = $event" ></app-header-list>

<ng-container *ngIf="isLoading; else dataLoaded">
  <loader></loader>
</ng-container>

<ng-template #dataLoaded>
  <ng-container *ngIf="display == 'card'; else displayCard">
    <app-people-cards (navigateTo)="navigateToDetails($event)" [people]="list"></app-people-cards>
  </ng-container>
  <ng-template #displayCard>
    <app-people-table (navigateTo)="navigateToDetails($event)" [people]="list" ></app-people-table>
  </ng-template>  
</ng-template>

<app-pagination-bar 
  [size]="nbPages" 
  (changed)="loadPeople($event)">
</app-pagination-bar> 