<div class="container">
  <div  *ngIf="film" class="row">
    <div class="col-md-8">
      <h2>{{film.title}}</h2>
      <p>Producer: {{film.producer}}</p>
      <p>Director: {{film.director}}</p>
      <p>Release date: {{film.release_date}}</p>
      <p>{{film.opening_crawl}}</p>
    </div>
    <div class="col-md-4">
      <img src="assets/films/{{film.episode_id}}.jpg" alt="{{film.name}}">
    </div>
    <div class="col-12">
        <app-people-list title="Characters" [links]="film.characters" ></app-people-list>
        <app-planets-list [links]="film.planets" ></app-planets-list>
        <app-species-list [links]="film.species" ></app-species-list>
        <app-starships-list [links]="film.starships" ></app-starships-list>
        <button (click)="backToResources()" class="btn btn-primary">Back to resources</button>
    </div>
  </div>
</div>


